@import "minxin-colors";

$color-primary: $palette-red-600 !default;
$color-primary-dark: $palette-red-800 !default;
$color-primary-light: $palette-red-400 !default;

$color-accent: $palette-orange-600 !default;
$color-accent-dark: $palette-orange-800 !default;
$color-accent-light: $palette-orange-400 !default;
